.destination__nav {
    display: flex;
    gap: 1rem;
  }
  
  .destination__nav span {
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .destination__nav span:hover {
    color: var(--extra-light);
    background-color: var(--primary-color);
  }
  
  .destination__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .destination__card {
    overflow: hidden;
    position: relative;
    isolation: isolate;
    cursor: pointer;
  }
  
  .destination__card img {
    border-radius: 1rem;
  }
  
  .destination__details {
    position: absolute;
    width: calc(100% - 2rem);
    padding: 1rem;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--extra-light);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    z-index: 1;
    transition: 0.3s;
  }
  
  .destination__card:hover .destination__details {
    bottom: 1rem;
  }
  
  .destination__title {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .destination__subtitle {
    font-size: 1rem;
    font-weight: 600;
  }
  


.destination__nav {
  display: flex;
  gap: 1rem;
}

.destination__nav span {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.destination__nav span:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.destination__card {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.destination__card img {
  border-radius: 1rem;
}

.destination__details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--extra-light);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destination__card:hover .destination__details {
  bottom: 1rem;
}

.destination__title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.destination__subtitle {
  font-size: 1rem;
  font-weight: 600;
}

